*										{box-sizing: border-box;}
body									{margin:0px; padding:0px; list-style:none; text-decoration:none; font-size:25px; font-family: 'Dosis', sans-serif;}
.clear									{clear:both;}
.wrapper								{}

/*header*/
.header									{width:100vw; position:fixed; height:80px; background-color:rgba(49, 50, 47, 1);}
.header_conten							{width:100%; margin:0px auto;}
.logo									{float:left; margin-top:20px;}
.menu_nav								{float:right; color:#fff; text-align:center; padding:0px 10px; font-size:15px; line-height:80px;}
.menu_nav:hover							{border-bottom:5px solid rgba(0,153,255,0.50); text-decoration:none;}
.user_holder							{float:right; margin-left:10px; padding:0px 30px 0px 20px; background:url(../img/dropdown.png) no-repeat right; color:#fff; display:block; cursor:pointer; }
.user_icon								{float:left; width:39px; height:39px; -webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;margin: 19px 15px 0px 0px; border:1px solid #4c4c4c;}
.user_name								{float:left; font-size:13px;}
.user_dropdown							{position:absolute; width:200px; background:#fff; font-size:13px; color:#666666; line-height:40px; margin:-15px 0px 0px -93px;-webkit-border-bottom-right-radius:3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px; overflow:hidden;}
.user_dropdown ul						{margin:0px; padding:0px; list-style:none;}
.user_dropdown ul li					{margin:0px; padding:0px 20px; list-style:none; border-bottom:1px solid #DBDBDB; display:block;}
.user_dropdown ul li:hover				{background:#f7f8f9; color:#000;}
.user_dropdown ul li a 					{text-decoration: none;color: #666666}
.user_dropdown ul li a:hover 			{text-decoration: none;color: #000000}
.li_icon								{margin:0px 10px 0px 0px;}	
.riight_nav_holder						{float:right;margin:0px 20px 0px 0px;}
				

/*Banner Tags*/
.banner_holder							{background:url(../img/slider_bg.png) fixed top no-repeat #131313; padding-bottom:60px;padding-top: 70px;}
.banner_content							{width:1320px; margin:0px auto; text-align:center; padding-top:60px}
.video_holder							{display:inline-block; width:630px; height:356px; background:#ccc; vertical-align:bottom}
.text_holder							{display:inline-block; width:500px; margin-left:39px; text-align:left; color:#fff}
.text_holder .text						{margin-bottom:20px; font-weight:300; line-height:37px;}
.text_holder span						{margin:0px 20px 0px 0px;}

/*App sync tags*/
.sync_holder							{background:url(../img/sync_bg.png) bottom repeat-x; padding-bottom:60px;}
.sync_content							{width:1320px; margin:0px auto; text-align:center; padding-top:90px;}
.screen_holder							{display:inline-block; vertical-align:top; margin-left:39px;}
.sync_text_holder_heading				{text-align:right; font-weight:500; font-size:45px; color:#000; margin-bottom:10px;}
.sync_text_holder						{display:inline-block; width:570px; text-align:right; color:#575757; margin-top:75px;}
.sync_text_holder .text					{margin-bottom:20px; font-weight:300; line-height:37px;}
.sync_text_holder span					{margin:0px 0px 0px 20px;}

/*Creating content tags*/
.cc_holder								{padding:80px 0px 0px 0px;}
.cc_top_text_holder						{width:1320px; text-align:center; margin:0px auto;}
.cc_top_text_holder h2					{font-weight:500; font-size:45px; margin:0px 0px 15px 0px; padding:0px;}
.cc_top_text_holder .text				{color:#191919; line-height:37px; font-weight:200;}
.cc_easytocreat_holder					{text-align:center;  border-right:1px solid #ccc; margin-top:115px; padding:0px 0px 0px 0px;}
.cc_easytocreat_holder .pic				{display:inline-block; margin-left:32px; vertical-align:top;  width:579px; text-align:left;}
.cc_easytocreat_holder .text			{display:inline-block; padding-right:50px; width:579px; text-align:right; font-weight:200; height: 402px;}
.cc_easytocreat_holder .text h3			{font-size:35px; margin:0px 0px 15px 0px; padding:0px; text-align:right; font-weight:400}
.cc_iosandroid_holder					{text-align:center; border-left:1px solid #ccc;  padding:0px 0px 80px 0px;}
.cc_iosandroid_holder .pic				{display:inline-block; margin-right:32px; vertical-align:top; width:579px; text-align:right;}
.cc_iosandroid_holder .text				{display:inline-block; padding-left:50px; width:579px; text-align:left; font-weight:200; height: 402px;}
.cc_iosandroid_holder .text h3			{font-size:35px; margin:0px 0px 15px 0px; padding:0px; text-align:left; font-weight:400}
.cc_button								{background:#57a2d4; text-align:center; height:66px; line-height:66px; padding:0px 56px; color:#fff; margin:15px 0px 0px 0px; display:block; cursor:pointer;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

/*Pricing Tags*/
.pricing_holder							{background:url(../img/pricing_bg.png) no-repeat fixed;  padding:60px 0px 170px 0px}
.pricing_holder_top_text_holder			{width:1320px; text-align:center; margin:0px auto; color:#fff;}
.pricing_holder_top_text_holder h2		{font-weight:500; font-size:45px; margin:0px 0px 15px 0px; padding:0px;}
.pricing_holder_top_text_holder .tex	t{line-height:37px; font-weight:200;}
.pricing_plans_holder					{ margin:0px auto 0px auto; text-align:center; background:#d9d9d9; padding-bottom:80px;}
.pricing_plans_holder_li				{display:inline-block;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; background:#fff; font-size:15px; width:265px; margin-top:-112px; margin-left:10px; margin-right:10px;}
.plans_2_holder							{display: inline-block;width: 575px;vertical-align: top;}
.heading								{font-size:25px; text-transform:uppercase; color:#57a2d4; padding:40px 0px;}
.rate									{font-size:70px; line-height:70px; color:#fff; background:#959595; padding:30px 0px; font-weight:200;}
.details								{padding:30px; color:#6a6a6a;  font-size:15px !important;}
.details_li								{font-size:15px !important; list-style:none; margin:0px; padding:0px; text-align:left; line-height:30px;}
.details_heading						{color:#000000; text-align:left; font-size:18px; line-height:35px;}
.small									{font-size:56px;}

/*footer tags*/
.footer_holder							{background:#bebebe; padding:50px 0px; font-size:15px; color:#666565; text-align:center;}
.footer_holder a						{color:#666565; text-decoration:none;}
.footer_holder a:hover					{color:#181818; text-decoration:none;}

.username {font-size: 14px;}

.navbar-nav { margin:10px -10px 0 0 !important;}
.header{position: fixed !important;}

.skin-dark .logo {
background: none !important;
margin-top: 0px;
padding: 16px 31px;
}

